.row {
  &.center {
    display: flex;
    justify-content: center;
  }
}

.thcenter {
  text-align: center !important;
}

.aligncenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.changimg {
}

.color-text-small {
  color: #d62323;
}

td.action {
  display: flex;
  justify-content: center;
  .style-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    padding: 0px;
    margin: 0px 5px;
    i {
      width: 20px;
      height: 25px;
    }
  }
}

.picture-preview {
  background-color: rgba(255, 255, 255, 0.25) !important;
  width: 100%;
}
.picture-inner .picture-inner-text {
  font-size: 0.9rem !important;
}

// Dropzone Custom
.vue-dropzone {
  text-align: center;
}

// Search
.group-from {
  display: flex;
  position: relative;
  button {
    position: absolute;
    right: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

.form-style-search {
  display: flex;
  justify-content: flex-end;
  max-width: 850px;
  //   max-width: 750px;
  margin-left: auto;
}

/* Table Class */

.tf-1 {
  width: 25px !important;
  min-width: 25px !important;
  max-width: 25px !important;
}

.tf-1-5 {
  width: 40px !important;
  min-width: 40px !important;
  max-width: 40px !important;
}

.tf-2 {
  width: 60px !important;
  min-width: 60px !important;
  max-width: 60px !important;
}

.tf-2-5 {
  width: 80px !important;
  min-width: 80px !important;
  max-width: 80px !important;
}

.tf-3 {
  width: 120px !important;
  min-width: 120px !important;
  max-width: 120px !important;
}

.tf-3-5 {
  width: 160px !important;
  min-width: 160px !important;
  max-width: 160px !important;
}

.tf-4 {
  width: 250px !important;
  min-width: 250px !important;
  max-width: 250px !important;
}

.tf-4-5 {
  width: 280px !important;
  min-width: 280px !important;
  max-width: 280px !important;
}

.tf-5 {
  width: 300px !important;
  min-width: 300px !important;
  max-width: 300px !important;
}

.tf-5-5 {
  width: 400px !important;
  min-width: 400px !important;
  max-width: 400px !important;
}

.tf-6 {
  width: 600px !important;
  min-width: 600px !important;
  max-width: 600px !important;
}

.tf-7 {
  width: 700px !important;
  min-width: 700px !important;
  max-width: 700px !important;
}

.pointer {
  cursor: pointer;
}

.table-selected {
  background-color: #d5f5e3 !important;
}
