@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,900&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face {
  font-family: 'HelveticaNeueBold';
  src: url('~/fonts/Helvetica/HelveticaNeueBold.woff2') format('woff2'),
    url('~/fonts/helvetica/HelveticaNeueBold.woff') format('woff'),
    url('~/fonts/helvetica/HelveticaNeueBold.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaNeueLight';
  src: url('~/fonts/Helvetica/HelveticaNeueLight.woff2') format('woff2'),
    url('~/fonts/helvetica/HelveticaNeueLight.woff') format('woff'),
    url('~/fonts/helvetica/HelveticaNeueLight.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaNeueMedium';
  src: url('~/fonts/Helvetica/HelveticaNeueMedium.woff2') format('woff2'),
    url('~/fonts/helvetica/HelveticaNeueMedium.woff') format('woff'),
    url('~/fonts/helvetica/HelveticaNeueMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaNeueRegular';
  src: url('~/fonts/Helvetica/HelveticaNeueRegular.woff2') format('woff2'),
    url('~/fonts/helvetica/HelveticaNeueRegular.woff') format('woff'),
    url('~/fonts/helvetica/HelveticaNeueRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaNeueThin';
  src: url('~/fonts/Helvetica/HelveticaNeueThin.woff2') format('woff2'),
    url('~/fonts/helvetica/HelveticaNeueThin.woff') format('woff'),
    url('~/fonts/helvetica/HelveticaNeueThin.ttf') format('truetype');
}
